<template>
  <nav class="action-bar">
    <ul>
      <li>
        <button class="btn-transp-default">{{ translate('Map') }}</button>
      </li>
      <li>
        <button class="btn-transp-default">{{ translate('Language') }}</button>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Navbar',
  methods: {
    translate(text: string) {
      return text;
      /* return window.gettext(text); */
    },
  },
});
</script>
