<template>
  <div>
    <button class="welcome-button btn-green" @click="open = !open">
      {{ t('Visit') }}
    </button>
    <transition name="welcome-transition">
      <div class="welcome-modal" v-if="open" @click.self="open = !open">
        <div class="welcome-modal__content">
          <div class="header">
            <h3>Guia de visita ao Parque</h3>
          </div>
          <hr />
          <div class="main">
            <p>
              Esta aplicação irá acompanhá-lo na sua visita ao parque,
              fornecendo dados adicionais sobre a zona onde se encontra no
              momento, bem como qualquer elemento de fauna ou flora que se possa
              deparar.
              <br />
              Ao longo do percurso irá encontrar placas com códigos para ler com
              a sua câmara ou inserindo o número associado, que lhe mostrará o
              conteúdo relacionado com a zona em que se encontra.
              <br />
              No canto superior direito terá um atalho que lhe mostrará a sua
              localização no mapa, com base na última zona visitada, ou pelas
              coordenadas GPS caso existam.
              <br />
              Aproveite a visita e viva o ambiente proporcionado pelo Parque
              Biológico de Gaia
            </p>
          </div>
          <div class="footer">
            <a class="" :href="startHref">&#x27A4;</a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';

import type { MessageSchema } from '../i18n/schema';

declare global {
  interface Window {
    /* eslint-disable @typescript-eslint/no-explicit-any */
    gettext: any;
  }
}

export default defineComponent({
  name: 'StartModal',
  inject: ['gettext'],
  props: {
    startHref: String,
  },
  setup() {
      // use global scope
    const { t, n } = useI18n<{ message: MessageSchema}>({
      useScope: 'global'
    })
    return { t, n }
  },
  data: () => {
    return {
      open: false,
    };
  },
  methods: {
    translate(text: string) {
      return text;
      /* return window.gettext(text); */
    },
  },
  mounted() {
    console.log('Hello');
    /* console.log(window.gettext("Welcome")); */
  },
});
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';
.welcome-modal {
  @apply m-auto flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s ease;
}

.welcome-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  outline: none;
}

.welcome-modal__content {
  @apply rounded-lg bg-white m-auto py-4 px-6 flex flex-col;
  height: 90%;
  width: 90%;
  transition: all 0.5s ease;
  .header {
    @apply py-2 text-green-700;
  }
  .main {
    @apply py-4 flex-grow text-justify leading-relaxed;
  }
  .footer {
    @apply py-2 flex justify-end;
    a {
      @apply rounded-full text-white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $default-green;
      font-size: 30px;
      text-align: center;
    }
  }
}

.welcome-transition-enter-active,
.welcome-transition-leave-active {
  transition: all 0.5s ease;
  /* transition: transform 0.5s ease; */
}

.welcome-transition-enter-from,
.welcome-transition-leave-to {
  opacity: 0;
}

.welcome-transition-enter-from .welcome-modal__content,
.welcome-transition-leave-to .welcome-modal__content {
  transform: scale(1.1);
}
</style>
