{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/main_app.css' %}">
        {% block title %}<title>Guia Parque Biológico de Gaia</title>{% endblock %}
    </head>
    <body>
        <noscript>
            <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        <div id="app">
            {% block vue_app %}<!-- vue app contents -->{% endblock %}
        </div>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'frontend/js/chunk-vendors.js' %}"></script> <!-- This is how to include a static file -->
        <script src="{% static 'frontend/js/main_app.js' %}"></script> <!-- This is how to include a static file -->
    </body>
</html>
