{% extends "guide_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="home-header">
      <div class="welcome-message">
          <h1 class="title">{% translate "Welcome"%}</h1>
          <h3 class="subtitle">{% translate "Online guide from <br>Parque Biológico de Gaia" %}</h3>
      </div>
  </div>
{% endblock %}
{% block vue_app %}
    <start-modal start-href="{% url 'start-visit' %}"/>
{% endblock %}
