{% extends "guide_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<nav class="action-bar">
  <ul>
    <li><button class="btn-transp-default">{% translate "Map" %}</button></li>
    <li><button class="btn-transp-default">{% translate "Language" %}</button></li>
  </ul>
</nav>
<div class="zone-header">
  <img src="/media/images/vida-num-muro-1.png">
  <!-- Texto a carregar da bd -->
  <span>Muro do engenho das buchas. Outono</span>
</div>
<div class="zone-info-content">
  <!-- Texto a carregar da bd -->
  <h2>A vida num muro</h2>
  <div>
    <ul class="zone-info-tab">
      <li>{% translate "Description" %}</li>
      <li>{% translate "Fauna" %}</li>
      <li>{% translate "Flora" %}</li>
    </ul>
  </div>
  <div class="">
  <!-- Texto a carregar da bd -->
    <p>
      Em muitas áreas do Parque o terreno foi armado em socalcos para dar origem a campos agrícolas.
      <br>
      A consolidação desses terrenos planos, redutores da erosão, fez-se aplicando muros de pedra. Sem demora, vieram a tornar-se excelentes suportes de vida.
      <br>
      Nas fendas desses muros alojaram-se plantas diversas, típicas desse nicho ecológico, e também animais, como Sardaniscas e Sapos, aves de porte reduzido e pequenos mamíferos.
    </p>
  </div>
</div>
<div class="zone-info-content">
  <div class="zone-info-eyes">
	<svg viewBox="0 0 510 510">
	<path d="m506.597 245.486c-46.353-56.474-144.49-122.379-251.597-122.379-107.491 0-205.632 66.353-251.597 122.379-4.538 5.531-4.538 13.497 0 19.028 47.452 57.84 145.819 122.38 251.597 122.38 109.537 0 207.256-68.357 251.597-122.379 4.538-5.532 4.538-13.498 0-19.029zm-149.704 9.514c0 56.184-45.709 101.894-101.894 101.894-56.186 0-101.894-45.713-101.894-101.894 0-56.184 45.709-101.894 101.894-101.894 56.19.001 101.894 45.716 101.894 101.894zm-321.631.004c16.883-17.547 57.591-55.416 114.736-79.721-35.862 47.122-35.876 112.273-.017 159.412-43.449-18.415-83.811-47.509-114.719-79.691zm324.74 79.713c35.862-47.123 35.875-112.273.017-159.412 43.447 18.415 83.81 47.51 114.719 79.69-16.883 17.549-57.591 55.416-114.736 79.722z"/>
	<path d="m204 255c0 28.122 22.878 51 51 51 28.121 0 51-22.878 51-51s-22.879-51-51-51c-28.122 0-51 22.878-51 51zm72 0c0 11.58-9.421 21-21 21-11.58 0-21-9.42-21-21s9.42-21 21-21c11.579 0 21 9.42 21 21z"/>
	<path d="m255 65c8.284 0 15-6.716 15-15v-35c0-8.284-6.716-15-15-15s-15 6.716-15 15v35c0 8.284 6.716 15 15 15z"/>
	<path d="m344.5 85.062c7.192 4.102 16.355 1.601 20.461-5.599l19.962-35c4.104-7.196 1.599-16.356-5.598-20.461-7.198-4.104-16.356-1.599-20.461 5.599l-19.962 35c-4.104 7.195-1.598 16.356 5.598 20.461z"/>
	<path d="m145.039 79.463c4.104 7.196 13.264 9.702 20.461 5.598 7.196-4.104 9.702-13.265 5.598-20.461l-19.962-35c-4.104-7.196-13.266-9.702-20.461-5.598-7.196 4.104-9.702 13.265-5.598 20.461z"/>
	<path d="m255 445c-8.284 0-15 6.716-15 15v35c0 8.284 6.716 15 15 15s15-6.716 15-15v-35c0-8.284-6.716-15-15-15z"/>
	<path d="m165.5 424.939c-7.196-4.103-16.356-1.598-20.461 5.598l-19.962 35c-4.104 7.196-1.598 16.357 5.598 20.461 7.197 4.104 16.357 1.597 20.461-5.598l19.962-35c4.105-7.196 1.598-16.357-5.598-20.461z"/>
	<path d="m364.961 430.537c-4.104-7.197-13.267-9.701-20.461-5.599-7.196 4.104-9.702 13.265-5.598 20.461l19.962 35c4.103 7.196 13.263 9.703 20.461 5.599 7.196-4.104 9.702-13.265 5.598-20.461z"/>
	</svg>
	<svg viewBox="0 0 510 510">
	<path d="m506.597 245.486c-46.353-56.474-144.49-122.379-251.597-122.379-107.491 0-205.632 66.353-251.597 122.379-4.538 5.531-4.538 13.497 0 19.028 47.452 57.84 145.819 122.38 251.597 122.38 109.537 0 207.256-68.357 251.597-122.379 4.538-5.532 4.538-13.498 0-19.029zm-149.704 9.514c0 56.184-45.709 101.894-101.894 101.894-56.186 0-101.894-45.713-101.894-101.894 0-56.184 45.709-101.894 101.894-101.894 56.19.001 101.894 45.716 101.894 101.894zm-321.631.004c16.883-17.547 57.591-55.416 114.736-79.721-35.862 47.122-35.876 112.273-.017 159.412-43.449-18.415-83.811-47.509-114.719-79.691zm324.74 79.713c35.862-47.123 35.875-112.273.017-159.412 43.447 18.415 83.81 47.51 114.719 79.69-16.883 17.549-57.591 55.416-114.736 79.722z"/>
	<path d="m204 255c0 28.122 22.878 51 51 51 28.121 0 51-22.878 51-51s-22.879-51-51-51c-28.122 0-51 22.878-51 51zm72 0c0 11.58-9.421 21-21 21-11.58 0-21-9.42-21-21s9.42-21 21-21c11.579 0 21 9.42 21 21z"/>
	<path d="m255 65c8.284 0 15-6.716 15-15v-35c0-8.284-6.716-15-15-15s-15 6.716-15 15v35c0 8.284 6.716 15 15 15z"/>
	<path d="m344.5 85.062c7.192 4.102 16.355 1.601 20.461-5.599l19.962-35c4.104-7.196 1.599-16.356-5.598-20.461-7.198-4.104-16.356-1.599-20.461 5.599l-19.962 35c-4.104 7.195-1.598 16.356 5.598 20.461z"/>
	<path d="m145.039 79.463c4.104 7.196 13.264 9.702 20.461 5.598 7.196-4.104 9.702-13.265 5.598-20.461l-19.962-35c-4.104-7.196-13.266-9.702-20.461-5.598-7.196 4.104-9.702 13.265-5.598 20.461z"/>
	<path d="m255 445c-8.284 0-15 6.716-15 15v35c0 8.284 6.716 15 15 15s15-6.716 15-15v-35c0-8.284-6.716-15-15-15z"/>
	<path d="m165.5 424.939c-7.196-4.103-16.356-1.598-20.461 5.598l-19.962 35c-4.104 7.196-1.598 16.357 5.598 20.461 7.197 4.104 16.357 1.597 20.461-5.598l19.962-35c4.105-7.196 1.598-16.357-5.598-20.461z"/>
	<path d="m364.961 430.537c-4.104-7.197-13.267-9.701-20.461-5.599-7.196 4.104-9.702 13.265-5.598 20.461l19.962 35c4.103 7.196 13.263 9.703 20.461 5.599 7.196-4.104 9.702-13.265 5.598-20.461z"/>
	</svg>
	<span> {% translate "Here you can see:" %} </span>
  </div>
  <p>Slideshow de Imagens?</p>
  <div class="zone-see-more">
    <div class="zone-see-more-item">
      <div style="background-image: url('/media/images/sapo-comum-1.png');">
	<span>Sapo Comum (bufo bufo)</span>
      </div>
    </div>
    <div class="zone-see-more-item">
      <div style="background-image: url('/media/images/salamandra-comum-1.png');">
	<span>Salamandra-comum (Salamandra salamandra)</span>
      </div>
    </div>
    <div class="zone-see-more-item">
      <div style="background-image: url('/media/images/licranco-1.png');">
	<span>Licranço (Anguis fragilis)</span>
      </div>
    </div>
    <div class="zone-see-more-item">
      <div style="background-image: url('/media/images/cobra-de-escada-1.png');">
	<span>Cobra-de-escada (Elaphe scalaris)</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block vue_app %}
{% endblock %}
