<template>
  <Navbar />
  <div class="zone-header">
    <img :src="`${mediaPath}/media/images/vida-num-muro-1.png`" />
    <!-- Texto a carregar da bd -->
    <span>Muro do engenho das buchas. Outono</span>
  </div>
  <div class="zone-info-content">
    <!-- Texto a carregar da bd -->
    <h2>A vida num muro</h2>
    <div>
      <ul class="zone-info-tab">
        <li>{{ translate('Description') }}</li>
        <li>{{ translate('Fauna') }}</li>
        <li>{{ translate('Flora') }}</li>
      </ul>
    </div>
    <div class="">
      <!-- Texto a carregar da bd -->
      <p>
        Em muitas áreas do Parque o terreno foi armado em socalcos para dar
        origem a campos agrícolas.
        <br />
        A consolidação desses terrenos planos, redutores da erosão, fez-se
        aplicando muros de pedra. Sem demora, vieram a tornar-se excelentes
        suportes de vida.
        <br />
        Nas fendas desses muros alojaram-se plantas diversas, típicas desse
        nicho ecológico, e também animais, como Sardaniscas e Sapos, aves de
        porte reduzido e pequenos mamíferos.
      </p>
    </div>
  </div>
  <div class="zone-info-content">
    <div class="zone-info-eyes">
      <EyeIcon />
      <EyeIcon />
      <vue-feather v-if="false" type="eye"></vue-feather>
      <span> {{ translate('Here you can see:') }} </span>
    </div>
    <div class="zone-see-more">
      <div class="zone-see-more-item">
        <div
          :style="`background-image: url(${mediaPath}${seeMoreImages[seeMoreIndex].filepath});`"
          @click="slideshowClick"
        >
          <span>{{ seeMoreImages[seeMoreIndex].caption }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Navbar from '@/components/Navbar.vue';
import EyeIcon from '@/components/EyeIcon.vue';
import VueFeather from 'vue-feather';

interface SeeMoreImage {
  filepath: string;
  caption: string;
}

interface GuideComponentData {
  mediaPath: string;
  seeMoreIndex: number;
  seeMoreImages: SeeMoreImage[];
}

export default defineComponent({
  name: 'Guide',
  inject: ['gettext'],
  components: {
    Navbar,
    EyeIcon,
    VueFeather,
  },
  props: {},
  data: (): GuideComponentData => {
    return {
      mediaPath: process.env.VUE_APP_MEDIA_URL || '',
      seeMoreIndex: 0,
      seeMoreImages: [
        { filepath: "/media/images/sapo-comum-1.png", caption: "Sapo Comum (bufo bufo)" },
        { filepath: "/media/images/salamandra-comum-1.png", caption: "Salamandra-comum (Salamandra salamandra)" },
        { filepath: "/media/images/licranco-1.png", caption: "Licranço (Anguis fragilis)" },
        { filepath: "/media/images/cobra-de-escada-1.png", caption: "Cobra-de-escada (Elaphe scalaris)" }
      ],
    };
  },
  methods: {
    translate(text: string) {
      return text;
      /* return window.gettext(text); */
    },
    slideshowClick(e: Event) {
      e.preventDefault();
      if (this.seeMoreIndex < this.seeMoreImages.length - 1) {
        this.seeMoreIndex++;
      } else {
        this.seeMoreIndex = 0;
      }
    },
  },
  mounted() {
    console.log('Zone Page');
  },
});
</script>
