<template>
  <div class="home">
    <div class="home-header">
      <div class="welcome-message">
        <h1 class="title">Welcome</h1>
        <h3 class="subtitle">
          Online guide from <br />Parque Biológico de Gaia
        </h3>
      </div>
    </div>
    <StartModal startHref="/start" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StartModal from '@/components/StartModal.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'Home',
  components: {
    StartModal,
  },
});
</script>
