@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

body {
  @apply tracking-wide;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

p {
  @apply text-justify leading-relaxed;
  br {
    @apply mb-2;
  }
}

button.btn-green {
  @apply text-white py-2 px-6 rounded-xl text-lg font-bold;
  background-color: $default-green;
}

.btn-transp-default {
  cursor: pointer;
  &:hover {
    color: $default-green;
  }
}

.zone-info-tab {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  li {
    @apply border-gray-500 text-gray-500;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  li:hover {
    border-bottom-color: $default-green;
    color: $default-green;
  }
}

.zone-info-content {
  @apply p-4 border border-solid border-gray-300 rounded-xl shadow-xl m-2;
  h2 {
    text-transform: uppercase;
  }
}

.zone-info-eyes {
  svg {
    width: 32px;
    display: inline-block;
  }
  span {
    margin-left: 1rem;
  }
}

.zone-see-more {
  display: flex;
  flex-direction: column;
  .zone-see-more-item {
    padding: 1rem;
    $zone-see-more-item-size: 400px;
    height: $zone-see-more-item-size;
    width: $zone-see-more-item-size;
    margin: auto;
    position: relative;
    cursor: pointer;
    > div {
      background-position: center;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      > span {
        font-style: italic;
        color: white;
        position: absolute;
        // bottom: 1.5rem;
        // left: 50%;
        // transform: translate(-50%, 0);
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.home-header {
  @apply w-full mx-auto flex justify-center flex-wrap;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('~@/assets/header-background.jpg');

  .welcome-message {
    @apply text-white font-bold my-auto w-full text-center;
    .title {
      @apply text-5xl;
    }
    .subtitle {
      @apply text-3xl;
    }
  }
}

.zone-header {
  position: relative;
  span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-style: italic;
  }
}

nav.action-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  ul {
    // display: flex;
    // justify-content: end;
    $action-bar-radius: 15px;
    border-top-left-radius: $action-bar-radius;
    border-bottom-left-radius: $action-bar-radius;
    background-color: rgba(255, 255, 255, 0.7);
    li {
      padding: 0.2rem 0.5rem;
      display: inline-block;
    }
  }
}
